[submodule "src/rc/encpasssh"]
	path = src/rc/encpasssh
	url = git@github.com:juliusl/encpass.sh.git
[submodule "deps/encpasssh"]
	path = deps/encpasssh
	url = https://github.com/juliusl/encpass.sh.git
